.center {
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  background-color: #5857571c;
  padding: 24px 14px;
  border-radius: 8px;
}
.content img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.content p {
  display: flex;
  gap: 15px;
  color: #fff;
  margin-bottom: 10px;
}

.profit {
  color: #12f98a;
  font-weight: bold;
}
.loss {
  color: #f91257;
  font-weight: bold;
}
